/* Custom dropdown */
.custom-dropdown {
  margin-left: 225px;
  margin-bottom: 15px;
  padding-right: 30px;
  height: 49.2px;
  width: 174.6px;
  font-size: 1.2em;
  display: block;
  padding: 20px;
}

.custom-dropdown select {
  background-color: #3f1201;
  color: #fff;
  font-size: inherit;
  padding: 0.5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 10px;
  text-indent: 0.01px;
  text-overflow: "";
}
