.create div {
  clear: both;
  height: 70px;
}

input {
  float: right;
  border-radius: 5px;
  border-color: transparent;
  color: black;
}

label {
  float: left;
  color: white;
}

h3 {
  color: white;
}

.create p {
  clear: both;
  color: red;
}

.create {
  background-color: white;
  width: 23%;
  margin-top: 50px;
  margin: auto;
  background-color: #383838;
  color: white;
  border-radius: 14px;
  padding: 3rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.btnCreate {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #8a2b06;
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 10px;
  margin-left: 10px;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  font-weight: bold;
}

.btnCreate:hover,
.btnCreate:active {
  background-color: #2c0d00;
}

.btnCancel {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #525252;
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 10px;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  font-weight: bold;
}

.btnCancel:hover,
.btnCancel:active {
  background-color: rgb(36, 36, 36);
}

.btnClear {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #686868;
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 10px;
  margin-left: 10px;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  font-weight: bold;
}

.btnClear:hover,
.btnClear:active {
  background-color: rgb(36, 36, 36);
}
